@import './variables.scss';



.menu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0000ff;
  opacity: 0;
  z-index: 1;

  .nav-list{
    width: 100%;
    height: 66%;
    padding: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .page-link {
      font-size: 1.777em;
      color: $darkBackgroundFontColor;
      cursor: pointer;
    }
  }

  .profile-links{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    
    .icon {
      height: 3em;
      cursor: pointer;
    }

  }
}

////////////////
//media queries
///////////////

@media only screen and (min-width: 1000px) {
  .menu {
    width: 100%;
    height: 100%;
    grid-area: menu;
    display: block;
    position: static;
    opacity: 1;
    z-index: 1;

    background-color: $darkTransparentBackground;

    .nav-list {
      height: 60%;
      max-height: 300px;
      padding-top: 0;
    }

    .profile-links{
      height: 30%;
      flex-direction: column;
      align-items: center;

      .icon {
        height: (1.333 * 1.33333)em;
      }
    }
  }
}

/////////////////
//Show Menu
////////////////

.show-menu-enter{
  display: block;
  opacity: 0;
}

.show-menu-enter-active{
  display: block;
  opacity: 1;
  transition: opacity 750ms linear;

}

.show-menu-enter-done{
  display: block;
  opacity: 1;
  
}

.show-menu-exit{
  display:block;
  opacity: 1;
  
}

.show-menu-exit-active{
  display: block;
  opacity: 0;
  transition: opacity 750ms linear;
  
}

.show-menu-exit-done{
  display: none;
  opacity: 0;
}



// .menu {
//   grid-area: menu;
  
//   .nav-list{
//     width: 100%;
//     height: 283.5px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;

//   }
  
//   a {
//     font-size: 1.777em;
//     color: $darkBackgroundFontColor;
//   }

//   .profile-links {
//     width: 100%;
// 
//     .icon{
//       height: 1.333em;
//     }
//   }
// }