@import './variables.scss';
@import './scroll-animations.scss';

@mixin inside(){
  height: 10px;
  width: 10px;
}


@mixin hidden(){
  height: 2px;
  width: 2px;
  opacity: 0;
}


.project-scroll-bar{
  position: absolute;
  width: 33%;
  min-width: 300px;
  max-width: 350px;
  height: 2em;
  top: 90%;
  left: 33%;
  display: flex;
  align-items: center;

  b {
    background-color: $darkBackgroundFontColor;
    border-radius: 50%;
    position: absolute;
  }

  .scrollbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .scroll-item{
      
      &__hidden {
        &--left{
          @include scrollbarHiddenLeft();          
        }
        
        &--right{
          @include scrollbarHiddenRight();                
        }
      }
      
      &__outside{
        &--left{
          @include scrollbarOutsideLeft();
        }
        
        &--right{
          @include scrollbarOutsideRight();
        }
      }
      
      &__inside{
        &--left{
          @include scrollbarInsideLeft();          
        }
        
        &--right{
          @include scrollbarInsideRight();          
        }
      }
      
      &__middle{
        @include scrollbarMiddle();        
      }
    }
  }
    
  .project-switch {
    position: absolute;
    height: 21px;
    width: 21px;
    cursor: pointer;
    
    &__previous{
      @include scrollBarPositioning(0%, 100%); 
      transform: rotate(180deg);
    }

    &__next{
      @include scrollBarPositioning(100%, 0%);
    }
  }
}

/////////////////////////////
//Animated scroll Components
/////////////////////////////

#next-scroll{
  .scroll-item{
      
    &__hidden {
      &--right{
        @include scrollAnimation(scrollHiddenRight, normal);
      }
    }
    
    &__outside{
      &--left{
        @include scrollAnimation(scrollOutsideLeft, normal);
      }
      
      &--right{
        @include scrollAnimation(scrollOutsideRight, normal);
      }
    }
    
    &__inside{
      &--left{
        @include scrollAnimation(scrollInsideLeft, normal);
      }
      
      &--right{
        @include scrollAnimation(scrollInsideRight, normal);
      }
    }
    
    &__middle{
      @include scrollAnimation(scrollMiddle, normal);
    }
  }
}

#previous-scroll{
  .scroll-item{
      
    &__hidden {
      &--right{
        @include scrollAnimation(scrollHiddenRight, reverse);
      }
    }
    
    &__outside{
      &--left{
        @include scrollAnimation(scrollOutsideLeft, reverse);
      }
      
      &--right{
        @include scrollAnimation(scrollOutsideRight, reverse);
      }
    }
    
    &__inside{
      &--left{
        @include scrollAnimation(scrollInsideLeft, reverse);
      }
      
      &--right{
        @include scrollAnimation(scrollInsideRight, reverse);
      }
    }
    
    &__middle{
      @include scrollAnimation(scrollMiddle, reverse);
    }
  }
}