// set one
// menu and projects
$darkBackgroundFontColor: #c5c5c5;

$darkTransparentBackground: #00000083;

$shadingOpacity: .85;

$baseScrollItemDiameter: 5px;
$increase: 1.8;

@mixin scrollBarPositioning($leftMargin, $rightMargin){
  left: 0;
  right: 0;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
  transform: translateX(-50%);
}

@mixin scrollArrow($direction){
  @if $direction == next {
    transform: translateX(-100%);
    margin-left: 100%;
    margin-right: 0;
  }

  @if $direction == previous {
    transform: translateX(100%);
    margin-left: 0;
    margin-right: 0;
    transform: rotate(180deg);
  }
}

@mixin hidden(){
  height: ($baseScrollItemDiameter)/$increase ;
  width: ($baseScrollItemDiameter)/$increase;
  opacity: 0;
}

@mixin outside(){
  height: $baseScrollItemDiameter;
  width: $baseScrollItemDiameter;
  opacity: 1;
}

@mixin inside(){
  height: ($baseScrollItemDiameter)*($increase);
  width: ($baseScrollItemDiameter)*($increase);
}

@mixin scrollbarHiddenLeft() {
  @include scrollBarPositioning(10%, 90%);
  @include hidden();
}

@mixin scrollbarOutsideLeft {
  @include outside();
  @include scrollBarPositioning(16.6%, 83.3%);
}

@mixin scrollbarInsideLeft {
  @include scrollBarPositioning(30%, 70%);
  @include inside();
}

@mixin scrollbarMiddle{
  @include scrollBarPositioning(50%, 50%);
  height: ($baseScrollItemDiameter)*($increase*$increase);
  width: ($baseScrollItemDiameter)*($increase*$increase);
}

@mixin scrollbarInsideRight {
  @include scrollBarPositioning(70%, 30%);
  @include inside();
}

@mixin scrollbarOutsideRight {
  @include outside();
  @include scrollBarPositioning(83.3%, 16.6%);
}

@mixin scrollbarHiddenRight() {
  @include scrollBarPositioning(90%, 10%);
  @include hidden();
}