@import './components/styles/variables.scss';

h1 {
  font-size: 90px;
}
h2 {
  font-size: 67px;
}
h3{
  font-size: 50px;
}
h4{
  font-size: 38px;
}
h5{
  font-size: 28px;
}
h6{
  font-size: 21px;
}
p{
  font-size: 16;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

article{
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  width: 100vw;
  height: 100vh;
  position:absolute;
  display: grid;
  grid-template: 20% auto / minmax(180px, 15%) auto;
  grid-template-areas: "banner banner"
                       "main main";
}

nav {
  background-color: $darkTransparentBackground;
  z-index: 1;
  color: $darkBackgroundFontColor;

  
}

.banner {
  grid-area: banner;
  display: grid;
  grid-template: auto/ 15%  auto  150px;
  grid-template-areas: "logo title button";
  z-index: 2;
  
  .logo {
    grid-area: logo;
    position: absolute;
    justify-self: center;
    align-self: center;
    margin: 0;
  
    height: 100px;
    margin-left: 10px;
  }

  .title {
    grid-area: title;
    align-self: center;
    margin: 0;
    width: 100%;

    
    .name{
      margin: 0;
      font-size: 28px;
    }

    #first{
      margin-left: 7.49%;
    }

    #middle{
      margin-left: 9.99%;
    }

    #last{
      margin-left: 17.7%;
    }
  }
  

  .menu-button-container{
    grid-area: button;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/////////////////
//Hide Title
////////////////

.hide-title-enter-active {
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 750ms linear;

  .title{
    opacity: 0;
    transition: opacity 750ms linear;
  }
}

.hide-title-enter-done {
  background-color: rgba(0, 0, 0, 0.0);

  .title{
    opacity: 0;
  }
}

.hide-title-exit {
  background-color: rgba(0, 0, 0, 0.0);

  .title{
    opacity: 0;
  }
}

.hide-title-exit-active {
  background-color: $darkTransparentBackground;
  transition: background-color 750ms linear;

  .title{
    opacity: 1;
    transition: opacity 750ms linear;
  }
}

.hide-title-exit-done {
  background-color: $darkTransparentBackground;

  .title{
    opacity: 1;
  }
}




.main{
  grid-area: main;
  display:flex;
}

.shading{
  background-color: rgba(0, 0, 0, 0.85);
}

.project{
  color: $darkBackgroundFontColor;
  display: flex;
  justify-content: space-evenly;

}

.project-info{
  display: flex;
  flex-direction: column;
  width: 66%;
}

.info-section{
  display: flex;
  flex-direction: column;
  width: 60%;
}



.project-switch:hover{
  cursor: pointer;
}

.image-container{
  width: 33%;
  
  img{
    width: 100%;
    margin-top: 28px;
    border-radius: .5em;
  }
}

.project-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  a{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    height: 35px;

    &:hover{
      height: 45px;
    }
  }
}

///////////////
//Media Queries
///////////////

//projects
@media only screen and (min-width: 650px){

  .banner {

    .menu-button-container{
      width: 100%;
      justify-content: center;
    }

    .title{
      
      .name {
        font-size: 38px;
      }
    }

    .logo {
      height: 130px;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 750px){
  .project-info {
    width: 33%;
  }
}


//page
@media only screen and (min-width: 1000px){

  .page{
    grid-template-areas: "banner banner"
                          "menu main";
  }

  #previous {
    left: 20%;
  }
}

@media only screen and (min-width: 1150px){
  #previous {
    left: 18%;
  }
}